@import url('https://fonts.googleapis.com/css2?family=Karla:wght@600&display=swap');
body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  background-color:whitesmoke;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .img-user-register {
  width: 10%;
  height: 10%;
  margin-right: 15px;
  justify-content: left;
}

.sign-up-card {
  background: #102027;
}

.error {
  position: absolute;
  color: red;
  font-size: 0.7rem;
  margin-bottom: 20px;
}

p {
  margin: 0 20%;
  padding: 1% 2%;
  color: white;
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.7);
}

.fancy-colored-text {
  font-family: "Courgette", cursive;
  color: rgb(255, 72, 0);
}

.anton-font {
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
  /* background: #62727b; */
  /* color: #fff;
}

.btn-submit {
  /* background: #62727b; */
  /* color: #fff;
  cursor: pointer;
  text-transform: uppercase;
} */
